In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_excel("data/Bike_Data.xlsx")

In [3]:
df = data.copy()

In [4]:
df.head(2)

,Region,Country,Customer,Business Segment,Category,Model,Color,SalesDate,ListPrice,UnitPrice,OrderQty
0,North America,United States,Advanced Bike Components,Components,Road Frames,LL Road Frame,Red,2020-04-01,337.22,183.94,1
1,North America,United States,Central Discount Store,Bikes,Mountain Bikes,Mountain-100,Silver,2020-04-01,3399.99,2039.99,1

In [5]:
df.shape

(60919, 11)

In [8]:
df.columns

Index(['Region', 'Country', 'Customer', 'Business Segment', 'Category',
       'Model', 'Color', 'SalesDate', 'ListPrice', 'UnitPrice', 'OrderQty'],
      dtype='object')

In [10]:
def rename_columns(d):
    column_dict = {}
    for i in d.columns:
        j=i
        if ' ' in j:
            j=j.replace(' ','_')
        column_dict[i]=j.lower()
    return d.rename(columns=column_dict)

In [11]:
df1 = rename_columns(df)

In [13]:
df1.columns

Index(['region', 'country', 'customer', 'business_segment', 'category',
       'model', 'color', 'salesdate', 'listprice', 'unitprice', 'orderqty'],
      dtype='object')

In [15]:
df1['cost'] = df1['unitprice'] * df1['orderqty']

In [17]:
df1.head(2)

,region,country,customer,business_segment,category,model,color,salesdate,listprice,unitprice,orderqty,cost
0,North America,United States,Advanced Bike Components,Components,Road Frames,LL Road Frame,Red,2020-04-01,337.22,183.94,1,183.94
1,North America,United States,Central Discount Store,Bikes,Mountain Bikes,Mountain-100,Silver,2020-04-01,3399.99,2039.99,1,2039.99

In [18]:
df1['sales'] = df1['listprice'] * df1['orderqty']

In [19]:
df1.head(2)

,region,country,customer,business_segment,category,model,color,salesdate,listprice,unitprice,orderqty,cost,sales
0,North America,United States,Advanced Bike Components,Components,Road Frames,LL Road Frame,Red,2020-04-01,337.22,183.94,1,183.94,337.22
1,North America,United States,Central Discount Store,Bikes,Mountain Bikes,Mountain-100,Silver,2020-04-01,3399.99,2039.99,1,2039.99,3399.99

In [20]:
df1['profit'] = df1['sales'] - df1['cost']

In [22]:
df1['region'].count()

60919

In [23]:
#requirement#
# ----- sales 0-5000 - broze
# ----- 5000-10000   - silver
# ----- 10000-15000  - gold
# ----- >15000       - platinum

In [24]:
# how to do
# - write a function that can handle above logic
# - create new column "sales_group" and apply fun
# - how many transaction are gold, /silver/bronze/platinum

In [25]:
def get_sales_group(val):
    if val >= 0 and val <= 5000:
        return 'Bronze'
    elif val > 5000 and val <= 10000:
        return 'Silver'
    elif val > 10000 and val <= 15000:
        return 'Gold'
    elif val > 15000:
        return 'Platinum'

In [28]:
df1['sales_group'] = df1['sales'].apply(get_sales_group)

In [29]:
df1.head(2)

,region,country,customer,business_segment,category,model,color,salesdate,listprice,unitprice,orderqty,cost,sales,profit,sales_group
0,North America,United States,Advanced Bike Components,Components,Road Frames,LL Road Frame,Red,2020-04-01,337.22,183.94,1,183.94,337.22,153.28,Bronze
1,North America,United States,Central Discount Store,Bikes,Mountain Bikes,Mountain-100,Silver,2020-04-01,3399.99,2039.99,1,2039.99,3399.99,1360.00,Bronze

In [42]:
df1[['customer','sales_group']].groupby('sales_group',as_index=False).count().rename(columns={'customer':'customer_count'})

  sales_group  customer_count
0      Bronze           53168
1        Gold            1683
2    Platinum            1057
3      Silver            5011