In [1]:
import pandas as pd
import numpy as np

In [2]:
tb1 = pd.read_csv('TATA_TB1.csv',encoding='Latin')
tb2 = pd.read_csv('TATA_TB2.csv', encoding='Latin')

In [3]:
df1 = tb1.copy()
df2 = tb2.copy()

In [4]:
print(df1.shape)
print(df2.shape)

(4117, 12)
(8047, 8)

In [5]:
df1.head(2)

,OrderID,OrderDate,CustomerName,City,Country,Region,Segment,ShipDate,ShipMode,State,lon,lat
0,BN-2011-7407039,2011-01-01,Ruby Patel,Stockholm,Sweden,North,Home Office,2011-01-05,Economy Plus,Stockholm,18.068581,59.329324
1,AZ-2011-9050313,2011-01-03,Summer Hayward,Southport,United Kingdom,North,Consumer,2011-01-07,Economy,England,-3.010113,53.645708

In [6]:
df2.head(2)

,OrderID,ProductName,Discount,Sales,Profit,OrderQuantity,Category,SubCategory
0,BN-2011-7407039,"Enermax Note Cards, Premium",0.5,45,-26,3,Office Supplies,Paper
1,AZ-2011-9050313,"Dania Corner Shelving, Traditional",0.0,854,290,7,Furniture,Bookcases

In [7]:
print('df1 columns', df1.columns)
print('df2 columns', df2.columns)

df1 columns Index(['OrderID', 'OrderDate', 'CustomerName', 'City', 'Country', 'Region',
       'Segment', 'ShipDate', 'ShipMode', 'State', 'lon', 'lat'],
      dtype='object')
df2 columns Index(['OrderID', 'ProductName', 'Discount', 'Sales', 'Profit',
       'OrderQuantity', 'Category', 'SubCategory'],
      dtype='object')

In [9]:
#1) Write a query to calculate the total records in two tables?
print("records in df1",df1.shape[0])
print("records in df2",df2.shape[0])

records in df1 4117
records in df2 8047

In [13]:
#2) Write a query to calculate the total unique count of customers?
df1['CustomerName'].nunique()

792

In [17]:
#3) Write a query to fetch the oldest order date and latest order date? 
print("latest order date",df1['OrderDate'].max())
print("oldest order date",df1['OrderDate'].min())

latest order date 2014-12-31
oldest order date 2011-01-01

In [29]:
#4) Write query to get unique years?
list(pd.DatetimeIndex(df1['OrderDate']).year.unique())

[2011, 2012, 2013, 2014]

In [35]:
#5) Write a query to get the no. of regions and display the region names?
print("total region",df1['Region'].nunique())
print("unique regions are",list(df1['Region'].unique()))

total region 3
unique regions are ['North', 'Central', 'South']

In [37]:
#6) Write a query to get the no. of countries and display the country names?
print("total Countries",df1['Country'].nunique())
print("unique Countries are",list(df1['Country'].unique()))

total region 15
unique regions are ['Sweden', 'United Kingdom', 'France', 'Italy', 'Austria', 'Spain', 'Germany', 'Netherlands', 'Denmark', 'Belgium', 'Norway', 'Portugal', 'Switzerland', 'Ireland', 'Finland']

In [39]:
#7) Write a query to get the no. of states and display the state names?
print("total states",df1['State'].nunique())
print("unique states are",list(df1['State'].unique()))

total states 127
unique states are ['Stockholm', 'England', 'Auvergne-Rhône-Alpes', "Provence-Alpes-Côte d'Azur", 'Languedoc-Roussillon-Midi-Pyrénées', 'Liguria', 'Vienna', 'Murcia', 'Lower Saxony', 'South Holland', 'Västra Götaland', 'Hovedstaden', 'Valenciana', 'South Denmark', 'Lombardy', 'Sicily', 'Ile-de-France', 'North Rhine-Westphalia', 'Flemish Brabant', 'Tuscany', 'Emilia-Romagna', 'Madrid', 'Oslo', 'Lisboa', 'Saxony', 'Andalusía', 'Catalonia', 'Alsace-Champagne-Ardenne-Lorraine', 'Bavaria', 'Uppsala', 'Nord-Pas-de-Calais-Picardie', 'Hesse', 'Overijssel', 'Basel-Stadt', 'Bourgogne-Franche-Comté', 'Zürich', 'Dublin', 'Lazio', 'Namur', 'North Holland', 'Berlin', 'Baden-Württemberg', 'Aquitaine-Limousin-Poitou-Charentes', 'Uusimaa', 'Apulia', 'Saxony-Anhalt', 'Rogaland', 'Sardinia', 'Drenthe', 'Mecklenburg-Vorpommern', 'North Brabant', 'Umbria', 'Geneva', 'Veneto', 'Normandy', 'Scotland', 'Coimbra', 'Castile and León', 'Gelderland', 'Hamburg', 'Brandenburg', 'Pays de la Loire', 'Antwerp', 'Bremen', 'Thuringia', 'Porto', 'Utrecht', 'Castile-La Mancha', 'Brittany', 'Campania', 'Cork', 'Groningen', 'East Flanders', 'Ceuta', 'Halland', 'Navarra', 'Rhineland-Palatinate', 'Limburg', 'Upper Austria', 'Schleswig-Holstein', 'Tyrol', 'Corsica', 'Trentino-Alto Adige', 'Vaud', 'Piedmont', 'Calabria', 'Galicia', 'Buskerud', 'Centre-Val de Loire', 'Styria', 'Abruzzi', 'Basque Country', 'Cantabria', 'Asturias', 'Finland Proper', 'Central Jutland', 'Wales', 'Kymenlaakso', 'Friesland', 'Braga', 'Aveiro', 'Marche', 'Saarland', 'Skåne', 'Friuli-Venezia Giulia', 'Balearic Islands', 'Extremadura', 'Basilicata', 'Hedmark', 'Hainaut', 'Melilla', 'Salzburg', 'Carinthia', 'Zeeland', 'Hordaland', 'Lucerne', 'Liège', 'West Flanders', 'Bern', 'Brussels', 'Södermanland', 'Zealand', 'Galway', 'Värmland', 'Vest-Agder', 'St. Gallen', 'Setúbal']

In [41]:
#8) Write a query to get the no. of cities and display the city names?
print("total cities",df1['City'].nunique())
print("unique cities are:----",list(df1['City'].unique()))

total states 999
unique states are:---- ['Stockholm', 'Southport', 'Valence', 'Birmingham', 'Echirolles', 'La Seyne-sur-Mer', 'Toulouse', 'Genoa', 'Vienna', 'Murcia', 'Woking', 'Lohne', 'Leicester', 'Sheffield', 'Dordrecht', 'Gothenburg', 'Langen', 'Copenhagen', 'Gandia', 'Esbjerg', 'Sesto San Giovanni', 'Trapani', 'Villiers-sur-Marne', 'Bielefeld', 'Leuven', 'Prato', 'Gela', 'Bologna', 'Menden', 'Maisons-Alfort', 'Madrid', 'Oslo', 'Lisbon', 'Draguignan', 'Halle', 'Parma', 'Dresden', 'Seville', 'Torrevieja', 'Barcelona', 'London', 'Reims', 'Rosenheim', 'Uppsala', 'Nice', 'Boulogne-sur-Mer', 'La Crau', 'Siena', 'Frankfurt', 'Almelo', 'Basel', 'Coslada', 'Marseille', 'Hanover', 'Elda', 'Hardenberg', 'Muret', 'Beaune', 'Paris', 'Castrop-Rauxel', 'Milan', 'Zurich', 'Grosseto', 'Dublin', 'Rome', 'Namur', 'Zaanstad', 'Bochum', 'Colmar', 'Farnborough', 'Berlin', 'Rimini', 'Baden-Baden', 'Pforzheim', 'Coventry', 'Pessac', 'Helsinki', 'Bonn', 'Leipzig', 'Tourcoing', 'Bari', 'Magdeburg', 'Noisy-le-Sec', 'Stavanger', 'Cagliari', 'Marsala', 'Emmen', 'Augsburg', 'Stralsund', 'Carcassonne', 'Munich', 'Wigan', 'Helmond', 'Castres', 'Foligno', 'Hamm', 'Troisdorf', 'Geneva', 'Newcastle upon Tyne', 'Treviso', 'Le Havre', 'Edinburgh', 'Saint-Priest', 'Lattes', 'Le Blanc-Mesnil', 'Essen', 'Coimbra', 'Ponferrada', 'Nacka', 'Crewe', 'Duisburg', 'Montigny-le-Bretonneux', 'Apeldoorn', 'Brindisi', 'Hamburg', 'Fontainebleau', 'Riom', 'Limoges', 'Potsdam', 'Lowestoft', 'Elx', 'Sannois', 'Rotterdam', 'Halifax', 'Rubí', 'Le Petit-Quevilly', 'Nijmegen', 'Chaumont', 'Vernon', 'Cholet', 'Cesena', 'Nogent-sur-Oise', 'Antwerp', 'Pontoise', 'Krefeld', 'Bremen', 'Moers', 'Ulm', 'Erfurt', 'Watford', 'Alcobendas', 'Amsterdam', 'Porto', 'Champigny-sur-Marne', 'Dudley', 'Utrecht', 'Bordeaux', 'Messina', 'Vincennes', 'Neuilly-sur-Marne', 'Argenteuil', "Quartu Sant'Elena", 'Toledo', 'Rennes', 'Breda', 'Naples', 'Lisieux', 'Portsmouth', 'Pulheim', 'Luton', 'Talence', 'Deuil-la-Barre', 'Lyon', 'Cork', 'Warrington', 'Groningen', 'Strasbourg', 'Oyonnax', 'Cologne', 'Colchester', 'Drancy', 'Mannheim', 'Evreux', 'Norwich', 'Southend-on-Sea', 'Palermo', 'Worcester', 'Ghent', 'Chatham', 'Ceuta', 'Remscheid', 'Hautmont', 'Lille', 'Aprilia', 'Thonon-les-Bains', 'Vitry-sur-Seine', 'Venice', 'Bamberg', 'Bolton', 'Halmstad', 'Odense', 'Wallasey', 'Lormont', 'Wolverhampton', 'Valladolid', 'Pamplona', 'Mansfield', 'Perpignan', 'Weston-super-Mare', 'Hagen', 'Minden', 'Ludwigshafen am Rhein', 'Zwolle', 'Roermond', 'Freiburg', 'Roanne', 'Las Rozas de Madrid', 'Mont-de-Marsan', 'Gallarate', 'Wiesbaden', 'Saint-Laurent-du-Var', 'Glasgow', 'Torremolinos', 'Anglet', 'Bressuire', 'Gronau', 'Rochdale', 'Villingen-Schwenningen', 'Les Lilas', 'Linz', 'Langenhagen', 'Cottbus', 'Bideford', 'Landerneau', 'Derby', 'Vantaa', 'Aylesbury', 'Hastings', 'Vila Nova de Gaia', 'Stuttgart', 'Reus', 'Cerignola', 'La Madeleine', 'The Hague', 'Rostock', 'Leverkusen', 'Cestas', 'Huddersfield', 'Passau', 'Biarritz', 'Aix-en-Provence', 'Ashford', 'Kiel', 'Innsbruck', 'Belfort', 'Fontenay-aux-Roses', 'Courbevoie', 'Ajaccio', 'Harrow', 'Arnsberg', 'Altamura', 'Vallauris', 'Valencia', 'Trento', 'Sunderland', 'Tarragona', 'Como', 'Manchester', 'Schwerin', 'Harrogate', 'Sant Boi de Llobregat', 'Arnhem', 'Cergy', 'Noisy-le-Grand', 'Lausanne', 'Bristol', 'Saint-Avold', 'Montpellier', 'High Wycombe', 'Lucca', 'Turin', 'Menton', 'Crotone', 'Vertou', 'Paisley', 'Vigo', 'Roubaix', 'Taverny', 'Chester', 'Vicenza', 'Wuppertal', 'Herne', 'Drammen', 'Jena', 'Friedrichshafen', 'Wattrelos', 'Orsay', 'Dreux', "Reggio nell'Emilia", 'Salamanca', 'Oberhausen', 'Lugo', 'Neuilly-sur-Seine', 'Offenbach', 'Alicante', 'Northampton', 'Darlington', 'Zwickau', 'Aulnay-sous-Bois', 'Karlsruhe', 'Loughborough', 'Gera', 'Vignola', 'Poissy', 'Blackburn', 'Cumbernauld', 'Plymouth', 'Catania', 'Leeds', 'Bolzano', 'La Baule-Escoublac', 'York', 'Molfetta', 'Verdun', 'Birkenhead', 'Beauvais', 'Arras', 'Littlehampton', 'Saint-Malo', 'Dijon', 'Carrara', 'Graz', 'Quimper', 'Gloucester', 'Massa', 'Dos Hermanas', 'Pescara', 'Novara', 'Montreuil', 'Stockton-on-Tees', 'Recklinghausen', 'Waterlooville', 'Frontignan', 'Trier', 'Heilbronn', 'Aachen', 'Bilbao', 'Saint-Ouen', 'Alfortville', 'Preston', 'Ferrara', 'Clermont-Ferrand', 'Digne-les-Bains', 'Pozzuoli', 'Slough', 'Norderstedt', 'Nuremberg', 'Ipswich', 'Allauch', 'Cinisello Balsamo', 'Hildesheim', 'Laval', 'Ercolano', 'Longjumeau', 'Herten', 'Stockport', 'Girona', 'Santander', 'Mougins', 'Rovigo', 'Vannes', 'Antibes', 'Hattingen', 'Guildford', 'Fuengirola', 'Florence', 'Velbert', 'Grigny', 'Haarlem', 'Mijas', 'Hove', 'Genk', 'Villeurbanne', 'Siegen', 'Grenoble', 'Cartagena', 'Greifswald', 'Firminy', 'Foggia', 'Vittoria', 'Nottingham', 'Lunel', 'Peterborough', 'Ravenna', 'Cannes', 'Amadora', 'Oviedo', 'La Rochelle', 'Rosny-sous-Bois', 'Marly-le-Roi', 'Turku', 'Walsall', 'Herford', 'Nantes', 'Oullins', 'Valdemoro', 'Bayonne', 'Manresa', 'Dortmund', 'Bry-sur-Marne', 'Molina de Segura', 'Regensburg', 'Zamora', 'Blackpool', 'Villeparisis', 'Verona', 'Darmstadt', 'Plaisance-du-Touch', 'Cheltenham', 'Givors', 'Tamworth', 'Rouen', 'Marbella', 'Kassel', 'Enschede', 'Neubrandenburg', 'Haninge', 'Carlisle', 'Laon', 'Iserlohn', 'Assen', 'East Kilbride', 'Runcorn', 'Gosport', 'Rillieux-la-Pape', 'Montrouge', 'Corbeil-Essonnes', 'Fiumicino', 'Agen', 'Aschaffenburg', 'Sandnes', 'Mulhouse', 'Hinckley', 'Randers', 'Perugia', 'Sassari', 'Cambridge', 'Busto Arsizio', 'Chartres', 'Puertollano', 'Vanves', 'Dundee', 'Odivelas', 'Nanterre', 'Kingswood', 'Orihuela', 'Meyzieu', 'Wolfsburg', 'Barry', 'Viersen', 'Tarbes', 'Weimar', 'Outreau', 'Eindhoven', 'Dorsten', 'Gateshead', 'Tilburg', 'Aberdeen', 'Malakoff', 'Espoo', 'Conflans-Sainte-Honorine', 'Bradford', 'Euskirchen', 'Poole', 'Cardiff', 'Benidorm', 'Hasselt', 'Mauguio', 'Rotherham', 'West Bromwich', 'Annecy', 'Montesson', 'Erftstadt', 'Marano di Napoli', 'Saint-Michel-sur-Orge', 'Oxford', 'Frederiksberg', 'Dormagen', 'Parla', 'Capelle aan den IJssel', 'Lons-le-Saunier', 'Schiedam', 'Kotka', 'Leeuwarden', 'Chelles', 'Chemnitz', 'Winterthur', 'Huddinge', 'Guimarães', 'Tremblay-en-France', 'La Teste-de-Buch', 'Velletri', 'Cremona', 'Rugby', 'Narbonne', 'Tours', 'Villemomble', 'Irun', 'Burgos', 'Harlow', 'Fareham', 'Cercola', 'Mantes-la-Jolie', 'Soissons', 'Barletta', 'San Fernando', 'Imola', 'Avignon', 'Brest', 'Angers', 'Clamart', 'Oldenburg', 'Nancy', 'Palaiseau', 'Heidelberg', 'Guyancourt', 'Widnes', 'Bonneuil-sur-Marne', 'Mont-Saint-Aignan', 'Marl', 'Feira', 'Munster', 'San Sebastian', 'Massy', 'Brandenburg', 'Lens', 'Le Bouscat', 'Aubervilliers', 'El Escorial', 'Jerez de la Frontera', 'Alphen aan den Rijn', 'Villefontaine', 'Bottrop', 'Boulogne-Billancourt', 'Pesaro', 'Taunton', 'Villiers-le-Bel', 'Ennigerloh', 'Granada', 'Solna', 'Pomezia', 'Creil', 'Paderborn', 'Valenciennes', 'Tallaght', 'Amersfoort', 'Marignane', 'Neunkirchen', 'Bourges', 'Savigny-le-Temple', 'Abbeville', 'Sale', 'Eastbourne', 'Modena', 'Bad Waldsee', 'Gummersbach', 'Vichy', 'Helsingborg', 'Pontivy', 'Bondy', 'Cuneo', 'Flers', 'Emden', 'Colomiers', 'Annemasse', 'Granollers', 'Chesterfield', 'Lippstadt', 'Taranto', 'Mâcon', 'Sorgues', 'Bedford', 'Domont', 'Millau', 'Brive-la-Gaillarde', 'Douai', 'Lincoln', 'Zeist', 'Waiblingen', 'Kerpen', 'Lagny-sur-Marne', 'Getxo', 'Gonesse', 'Bury', 'Livry-Gargan', 'Montargis', 'Tulle', 'Mitry-Mory', 'Mechelen', 'Dewsbury', 'Capua', 'Le Plessis-Robinson', 'Meudon', 'Basingstoke', 'Montecatini Terme', 'Huelva', 'Swindon', 'Bagneux', 'Gillingham', 'Les Mureaux', 'Schiltigheim', 'Günzburg', 'Unna', 'Coudekerque-Branche', 'Erlangen', 'Caen', 'Deventer', 'Saint-Nazaire', 'Calais', 'Le Mans', 'Bayreuth', 'Evry', 'Swansea', 'Margate', 'Faches-Thumesnil', 'Bergheim', 'Hamme', 'Worms', 'Pontault-Combault', 'Eggenstein-Leopoldshafen', 'Grevenbroich', 'Trieste', 'Neuilly-Plaisance', 'Sittard', 'Spijkenisse', 'Les Ulis', 'Palma de Mallorca', 'Chelmsford', 'Ferndown', 'Saint-Cloud', 'Choisy-le-Roi', 'Agde', 'Saint-Louis', 'Hazebrouck', 'Badajoz', 'Moncalieri', 'Amiens', 'Acireale', 'Hilversum', 'Clichy', 'Albertville', 'Bourgoin-Jallieu', 'Potenza', 'Torre del Greco', 'Oldham', 'Saint-Denis', 'Liverpool', 'Sabadell', 'Montmorency', 'Stoke-on-Trent', 'Albacete', 'Auxerre', 'Talavera de la Reina', 'Bisceglie', 'Northwich', 'Issy-les-Moulineaux', 'Bracknell', 'Vitoria', 'Istres', 'El Ejido', 'Toulon', 'Latina', 'Antony', 'Rhondda', 'Hilden', 'Hamar', 'Castelldefels', 'Sanary-sur-Mer', 'Worthing', 'Majadahonda', 'Cártama', 'Arezzo', 'Fontaine', 'Getafe', 'Chilly-Mazarin', 'Basildon', 'Charleroi', 'Pau', 'Melilla', 'Grasse', 'Maisons-Laffitte', 'Gap', 'Bergen op Zoom', 'Puteaux', 'Hereford', 'Battipaglia', 'Clydach', 'Meaux', 'Oosterhout', 'Salzburg', 'Palencia', 'Rochefort', 'Portici', 'Blanquefort', 'Saint-Herblain', 'Lomme', 'Lorca', 'Bron', 'Bergamo', 'Villach', 'Cognac', 'Haguenau', "Cournon-d'Auvergne", 'Solihull', 'El Prat de Llobregat', 'Solingen', 'Maidenhead', 'Exeter', 'Fano', 'Auch', 'Terneuzen', 'Saint-Chamond', 'Mainz', 'Veenendaal', 'Versailles', 'Six-Fours-les-Plages', 'Castelnau-le-Lez', 'Ermont', 'Monza', 'Gradignan', 'Ingolstadt', 'Thionville', 'Morley', 'Bergen', 'Tournefeuille', 'Athis-Mons', 'Cachan', 'Cagnes-sur-Mer', 'Civitavecchia', 'Boscoreale', 'Brescia', 'Arles', 'Marina di Carrara', 'Gennevilliers', 'Ancona', 'Cluses', 'Le Pontet', 'Lucerne', 'Offenburg', 'Reading', 'Hartlepool', 'Barnsley', 'Forst', 'Bergisch Gladbach', 'Lund', 'Faenza', 'Clichy-sous-Bois', 'Heerlen', 'Montauban', 'Carvin', 'Villeneuve-Saint-Georges', 'Albi', 'Sevran', 'Saint-Dizier', 'Kettering', 'Bournemouth', 'Trani', 'Sarreguemines', 'Tivoli', 'Letchworth', 'Klagenfurt', 'Reutlingen', 'Pontevedra', 'Saumur', 'Poitiers', 'Neuwied', 'Fresnes', 'Chioggia', 'Montbrison', 'Melun', 'Bourg-en-Bresse', 'Verviers', 'Velsen', 'Forbach', 'Delmenhorst', 'Saint-Germain-en-Laye', 'Roosendaal', 'Metz', 'Wetzlar', 'Roeselare', 'Miramas', 'Vlaardingen', 'Burnley', 'Nieuwegein', 'Thiais', 'Santiago de Compostela', 'Sète', 'La Ciotat', 'Pistoia', 'Redditch', 'Wetter (Ruhr)', 'Aalst', 'Argentan', 'Viroflay', 'Celle', 'Niort', 'Martigues', 'Middlesbrough', 'Lanester', 'Berne', 'Teramo', 'Villeneuve-le-Roi', 'Great Yarmouth', 'Legnano', 'Franconville', 'Roissy-en-Brie', 'Stains', 'Ratingen', 'Bar-le-Duc', 'Annonay', 'Wakefield', 'Cuenca', 'Seraing', 'Acerra', 'Barakaldo', 'Uithoorn', 'Maidstone', 'Halesowen', 'Les Pavillons-sous-Bois', 'Delft', 'Caserta', 'Rueil-Malmaison', 'Gladbeck', 'Dartford', 'Benevento', 'Carpi', 'Saint-Brieuc', 'Rambouillet', 'Koblenz', 'Berck', 'Illkirch-Graffenstaden', 'Hengelo', 'Witten', 'Osny', 'Cambrai', 'Avellino', 'Shrewsbury', 'Flensburg', 'Mons-en-Baroeul', 'Aalen', 'Fuenlabrada', 'Stafford', 'Mouscron', 'Sucy-en-Brie', 'Moissy-Cramayel', 'Brussels', 'Denain', 'Schiffweiler', 'Gelsenkirchen', 'Le Chesnay', 'Bognor Regis', 'Cosenza', 'Vaulx-en-Velin', 'Pantin', 'Afragola', 'Kidderminster', 'Bath', 'Les Herbiers', 'Sonneberg', 'Asti', 'Bastia', 'Falconara Marittima', 'Chieti', 'Dinslaken', 'Wels', 'Annecy-le-Vieux', 'Eskilstuna', 'Kortrijk', 'Kalundborg', 'Moulins', 'Oss', 'Varese', 'Dieppe', 'Saint-Gratien', 'Nuneaton', 'Alkmaar', 'Wasquehal', 'Colombes', 'Galway', 'Dunstable', 'Vigneux-sur-Seine', 'Badalona', 'Sarcelles', 'Capannori', 'Brighton', 'Guadalajara', 'Estepona', 'Wilhelmshaven', 'Den Helder', 'Detmold', 'Bayeux', 'Pamiers', 'Kilwinning', 'Fleury-les-Aubrais', 'Carquefou', 'Ludwigsburg', 'Casoria', 'Trappes', 'Maastricht', 'Bagnolet', 'Limay', 'Agrigento', 'Libourne', 'Saint-Pol-sur-Mer', 'Andria', 'Crawley', 'Pisa', 'Alessandria', 'Avion', 'Levallois-Perret', 'Barneveld', 'Guidonia Montecelio', 'Lecce', 'Purmerend', 'Anzio', 'Karlstad', 'Voiron', 'Ronchin', 'Ludwigsfelde', 'La Spezia', 'San Severo', 'Gagny', 'Saint-Genis-Laval', 'Torcy', 'Villeneuve-sur-Lot', 'Bruges', 'Treviglio', 'Sonderborg', 'Garbsen', 'Washington', 'Fulda', 'Fontenay-sous-Bois', 'Upplands Väsby', 'Kristiansand', 'Pertuis', 'Cormeilles-en-Parisis', 'St. Gallen', 'Doncaster', 'Chiclana de la Frontera', 'Borken', "Villeneuve-d'Ascq", 'Langenfeld', 'Mantes-la-Ville', 'Ragusa', 'Salon-de-Provence', 'Castellammare di Stabia', 'Leiden', 'Ivry-sur-Seine', 'Friedberg', 'Plaisir', 'Briton Ferry', 'Saint-Quentin', 'Senlis', 'Stourbridge', 'Hemel Hempstead', 'Saint-Jean-de-la-Ruelle', 'Tournai', 'Sindelfingen', 'Ploemeur', 'Vitrolles', 'Coulommiers', 'Piacenza', 'Epinal', 'Doetinchem', 'Villejuif', 'Willich', 'Issoire', 'Louviers', 'Peer', 'Loures', 'South Shields', 'Sartrouville', 'Carpentras', 'Concarneau', 'Torquay', 'Kaiserslautern', 'Savona', 'Gravesend', 'Cuxhaven', 'Viterbo', 'Modica', 'Le Pré-Saint-Gervais', 'Braga', 'Aix-les-Bains', 'Landskrona', 'Livingston', 'Montgeron', 'Halluin', 'Manfredonia', 'Segovia', 'Pierrefitte-sur-Seine', 'Lorient', 'Le Cannet', 'Venlo', 'Ponteareas', 'Vigevano', 'Arrentela', 'Clacton-on-Sea', 'Sagunto']

In [46]:
#9) Write a query to calculate the total count of products?
print("total products",df2['ProductName'].nunique())
print("unique products are:----",list(df2['ProductName'].unique()))

total products 1810

In [53]:
#10)Write a query to calculate total sales, total profit and total order quantity?
df2[['Sales','Profit','OrderQuantity']].sum()

Sales            2348482
Profit            283240
OrderQuantity      30354
dtype: int64

In [58]:
#11)Write a query to calculate the total sales amount, total order quantity for each category. 
#Display the category, total sales, and total order qty and order by total sales from 
#highest to lowest?
df2[['Category','Sales','OrderQuantity']].groupby('Category',as_index=False).sum().sort_values('Sales',ascending=False)

          Category   Sales  OrderQuantity
2       Technology  886015           5811
1  Office Supplies  823658          19902
0        Furniture  638809           4641

In [59]:
# 12)Write a query to calculate the total profit amount for each category. Display the 
# category, total profit, and total order qty and order by total profit from highest to lowest?

df2[['Category','Profit','OrderQuantity']].groupby('Category',as_index=False).sum().sort_values('Profit',ascending=False)

          Category  Profit  OrderQuantity
1  Office Supplies  124952          19902
2       Technology  108554           5811
0        Furniture   49734           4641

In [66]:
# 13)Write a query to fetch the subcategories where total sales are greater than 100000?

df2[['SubCategory','Sales']].groupby('SubCategory',as_index=False).sum().query('Sales>100000')

    SubCategory   Sales
0   Accessories  131309
1    Appliances  209900
2           Art  127184
4     Bookcases  294396
5        Chairs  186698
6       Copiers  290081
11     Machines  182066
13       Phones  282559
14      Storage  272489

In [74]:
# 14)Write a query to fetch the products where total profit is greater than 2500 and sort it 
# based on profit from highest to lowest??

df2[['ProductName','Profit']].groupby('ProductName',as_index=False).sum().query('Profit>2500').sort_values('Profit',ascending=False)

                                  ProductName  Profit
1223             Nokia Smart Phone, Full Size    7583
966                         Hoover Stove, Red    6139
832              Hamilton Beach Stove, Silver    5778
1416  SAFCO Executive Leather Armchair, Black    4324
1433            Safco Classic Bookcase, Metal    4183
477         Cisco Smart Phone, with Caller ID    4055
345                Brother Fax Machine, Laser    3918
595                 Eldon Lockers, Industrial    3611
475               Cisco Smart Phone, Cordless    3388
831                 Hamilton Beach Stove, Red    2738
260                        Belkin Router, USB    2677
1222              Nokia Smart Phone, Cordless    2633
494             Cuisinart Refrigerator, Black    2627
582             Eldon File Cart, Single Width    2539

In [76]:
k = df2[['ProductName','Profit']].groupby('ProductName',as_index=False).sum()
k[k['Profit']>2500].sort_values('Profit',ascending=False)

                                  ProductName  Profit
1223             Nokia Smart Phone, Full Size    7583
966                         Hoover Stove, Red    6139
832              Hamilton Beach Stove, Silver    5778
1416  SAFCO Executive Leather Armchair, Black    4324
1433            Safco Classic Bookcase, Metal    4183
477         Cisco Smart Phone, with Caller ID    4055
345                Brother Fax Machine, Laser    3918
595                 Eldon Lockers, Industrial    3611
475               Cisco Smart Phone, Cordless    3388
831                 Hamilton Beach Stove, Red    2738
260                        Belkin Router, USB    2677
1222              Nokia Smart Phone, Cordless    2633
494             Cuisinart Refrigerator, Black    2627
582             Eldon File Cart, Single Width    2539

In [81]:
#15)Write a query to get the total sales and total profit for OƯice Supplies category?
df2[df2['Category'] == 'Office Supplies'][['Category','Sales','Profit']].groupby('Category',as_index=False).sum()

          Category   Sales  Profit
0  Office Supplies  823658  124952

In [89]:
# 16)Write a query to get the total sales and total profit for Furniture category and Tables, 
# Bookcases sub-categories ?
df2[(df2['Category'] == 'Furniture') & (df2['SubCategory'] == 'Bookcases')][['Category','Sales','Profit']].groupby('Category',as_index=False).sum()

    Category   Sales  Profit
0  Furniture  294396   43655

In [95]:
# 17)Write a query to get the total sales and total profit for Technology category and the 
# Accessories, Copiers, Phones sub-categories ?

df2[(df2['Category'] == 'Technology') & (df2['SubCategory'].isin(['Accessories','Copiers','Phones']))][['Category','Sales','Profit']].groupby('Category',as_index=False).sum()

     Category   Sales  Profit
0  Technology  703949   97236

In [101]:
#taking it for further calculations from both tables
df3 = df1.merge(df2,how='left',on='OrderID')

In [104]:
# 18)Write a query to get total sales and total profit by Region, Segment and sort the sales 
# from highest to lowest?? 
df3[['Region','Segment','Sales','Profit']].groupby(['Region','Segment']).sum().sort_values(['Region','Sales'],ascending=False)

                      Sales  Profit
Region  Segment
South   Consumer     266435   29615
        Corporate    177709   13647
        Home Office   73106   10903
North   Consumer     267955   35686
        Corporate    163991   26872
        Home Office   84033    8881
Central Consumer     701892   82146
        Corporate    396437   52115
        Home Office  216924   23375

In [107]:
# 19)Write a query to get total sales and total profit by Country, State and city and sort the 
# sales from highest to lowest?? 
df3[['Country','State','City','Sales','Profit']].groupby(['Country','State','City'],as_index=False).sum().sort_values('Sales',ascending=False)

,Country,State,City,Sales,Profit
922,United Kingdom,England,London,69230,13931
425,Germany,Berlin,Berlin,52555,5942
7,Austria,Vienna,Vienna,51844,13207
806,Spain,Madrid,Madrid,44981,11129
233,France,Ile-de-France,Paris,42245,6680
...,...,...,...,...,...
435,Germany,Hesse,Friedberg,18,6
390,France,Provence-Alpes-Côte d'Azur,Sorgues,14,3
294,France,Languedoc-Roussillon-Midi-Pyrénées,Sète,14,7
84,France,Auvergne-Rhône-Alpes,Aix-les-Bains,10,4
230,France,Ile-de-France,Osny,5,2

In [111]:
# 20)Write a query to get total sales and total orderqty by CustomerName sort it by total 
# sales from highest to lowest? 

df3[['CustomerName','Sales','OrderQuantity']].groupby('CustomerName',as_index=False).sum().sort_values('Sales',ascending=False)

          CustomerName  Sales  OrderQuantity
49    Angie Massengill  16146            102
499        Lola Hughes  13191            127
70      Ashton Charles  13056             63
316        Isaac David  11271            110
633      Philip Newsom  10893             80
..                 ...    ...            ...
25   Alexandra Mahmood     47              2
548          Max Baker     44              1
277        Grace Brown     23              1
374       Jodie Garner     16              1
342        James Brown     14              2

[792 rows x 3 columns]

In [115]:
# 21)Identify the top 5 products with the highest sales (by sales amount). Show the product 
# name, total sales, and total qty?

df3[['ProductName', 'Sales', 'OrderQuantity']].groupby('ProductName').sum().sort_values('Sales',ascending=False).head(5)

                                         Sales  OrderQuantity
ProductName
Nokia Smart Phone, Full Size             30645             54
Hamilton Beach Stove, Silver             16890             33
Cisco Smart Phone, Cordless              14723             29
Novimex Executive Leather Armchair, Red  13898             44
Cisco Smart Phone, with Caller ID        13215             25

In [117]:
#22)Write a query to get total sales by City having sales greater than 35000? 
df3[['City','Sales']].groupby('City').sum().sort_values('Sales',ascending=False).query('Sales>35000')

        Sales
City
London  69230
Berlin  52555
Vienna  51844
Madrid  44981
Paris   42245

In [121]:
# 23)Write a query to get total sales by CustomerName having sales greater than 10000? 
df3[['CustomerName','Sales']].groupby('CustomerName').sum().query('Sales>10000')

                  Sales
CustomerName
Angie Massengill  16146
Ashton Charles    13056
Audrey Knowles    10363
Bettie Lang       10466
Isaac David       11271
Joel Peters       10477
Lola Hughes       13191
Philip Newsom     10893

In [123]:
# 24)Write a query to get total sales and total profit by shipmode and sort the sales in 
# ascending order and profit in descending order? 

df3[['ShipMode','Sales','Profit']].groupby('ShipMode').sum().sort_values(['Sales','Profit'],ascending=[True,False])

                Sales  Profit
ShipMode
Immediate      131314   17569
Priority       320426   32639
Economy Plus   483965   54336
Economy       1412777  178696

In [127]:
# 25)Write a query to get total sales for North and central region?
df3[df3['Region'].isin(['North','Central'])][['Region','Sales']].groupby('Region').sum()

           Sales
Region
Central  1315253
North     515979

In [131]:
# 26)Write a query to get total sales and total profit for Italy and Spain countries? 
df3[(df3['Country']=='Italy') | (df3['Country']=='Spain')][['Country','Sales','Profit']].groupby('Country',as_index=False).sum()

  Country   Sales  Profit
0   Italy  252742   15802
1   Spain  249402   47067

In [153]:
from datetime import datetime
datetime.strptime('2011-01-01','%Y-%m-%d')
# datetime.datetime('2011-01-01','YYYY-MM-DD')

datetime.datetime(2011, 1, 1, 0, 0)

In [162]:
# 27)Write a query to get the total sales and total profit for each year sort the sales from 
# highest to lowest?
from datetime import datetime
df3['year'] = df3['OrderDate'].apply(lambda x: datetime.strptime(x,'%Y-%m-%d').year)
df3[['year','Sales','Profit']].groupby('year', as_index=False).sum().sort_values('Sales',ascending=False)

   year   Sales  Profit
3  2014  755030   85330
2  2013  630224   77200
1  2012  548880   66223
0  2011  414348   54487

In [173]:
# 28) Find the top 10 customers who spent the most across all transactions. Display the 
# customer name, total amount spent, and number of orders placed?

k = df3[['CustomerName','Sales','OrderID']].groupby('CustomerName',as_index=False).agg({'OrderID':'count','Sales':'sum'}).sort_values('Sales',ascending=False)
k.head(10).reset_index(drop=True).rename(columns={'OrderID':'Total_orders_placed','Sales':'Total_amount_spent'})

       CustomerName  Total_orders_placed  Total_amount_spent
0  Angie Massengill                   28               16146
1       Lola Hughes                   26               13191
2    Ashton Charles                   16               13056
3       Isaac David                   29               11271
4     Philip Newsom                   21               10893
5       Joel Peters                   32               10477
6       Bettie Lang                   22               10466
7    Audrey Knowles                   20               10363
8    Lilly Le Grand                   21                9962
9    Elijah Sodeman                   23                9689

In [193]:
# 29)Write a query to find which products are most preferred by customers based on the 
# total sales. Display customer name, favorite product9 (top 3 products per each customer), 
#and total sales on that product?

k2 = df3[['CustomerName', 'ProductName', 'Sales']].groupby(['CustomerName', 'Sales']).sum().sort_values(['CustomerName','Sales'],ascending=False)
k2.groupby('CustomerName').head(3)

                                                              ProductName
CustomerName     Sales
Zona Meyer       1060                         Hewlett Copy Machine, Color
                 571                      Stanley Sketch Pad, Water Color
                 410       Novimex Executive Leather Armchair, Adjustable
Zoe Lowin        429                            Epson Card Printer, White
                 302                       Panasonic Calculator, Wireless
...                                                                   ...
Aaron Cunningham 392                               Hon Rocking Chair, Red
                 322                          Tenex File Cart, Industrial
Aaron Bootman    1543                       Brother Fax and Copier, Color
                 632                          HP Personal Copier, Digital
                 245    Konica Receipt Printer, DurableBelkin Keyboard...

[2322 rows x 1 columns]

In [202]:
#30)Write a query to get 7th rank customer name based on total sales? Display customer 
# name, sales amount and rank.
df3[['CustomerName','Sales']].groupby('CustomerName',as_index=False).sum().sort_values('Sales',ascending=False).reset_index(drop=True).iloc[7,:]

CustomerName    Audrey Knowles
Sales                    10363
Name: 7, dtype: object

In [208]:
# 31)Write query to get total sales and total profit in years 2011 and 2013 Display year wise 
# total sales and total profit?
df3[df3['year'].isin([2011,2013])][['year','Sales','Profit']].groupby('year',as_index=False).sum()

   year   Sales  Profit
0  2011  414348   54487
1  2013  630224   77200

In [213]:
# 32)Write a query to get total sales, total profit and total order qty by country, state, category 
# and sub-category and sort it from highest to lowest based on sales column?

df3[['Country','State','Category','SubCategory','Sales','Profit','OrderQuantity']].\
groupby(['Country','State','Category','SubCategory']).sum().sort_values('Sales',ascending=False)

                                                     Sales  Profit  \
Country        State    Category        SubCategory
United Kingdom England  Furniture       Bookcases    52576   12790
                        Technology      Phones       52262   11124
                                        Copiers      49025   12408
                        Office Supplies Storage      42752    5987
                        Technology      Machines     33920    7653
...                                                    ...     ...
Belgium        Brussels Office Supplies Fasteners       11       3
               Limburg  Office Supplies Labels          10       2
Finland        Uusimaa  Office Supplies Labels           9       3
Italy          Umbria   Office Supplies Labels           9       4
Netherlands    Limburg  Office Supplies Envelopes        9      -9

                                                     OrderQuantity
Country        State    Category        SubCategory
United Kingdom England  Furniture       Bookcases              237
                        Technology      Phones                 198
                                        Copiers                214
                        Office Supplies Storage                569
                        Technology      Machines               187
...                                                            ...
Belgium        Brussels Office Supplies Fasteners                1
               Limburg  Office Supplies Labels                   2
Finland        Uusimaa  Office Supplies Labels                   2
Italy          Umbria   Office Supplies Labels                   1
Netherlands    Limburg  Office Supplies Envelopes                2

[1364 rows x 3 columns]

In [226]:
# 33)write a function to get the region sales dynamically, if we pass any region, that region 
# sales should be displayed?
def sales_by_region(region):
    return df3[df3['Region']==region][['Region','Sales']].groupby('Region',as_index=False).sum()

reg = input("enter region here: ").capitalize()
sales_by_region(reg)

enter region here:  central

    Region    Sales
0  Central  1315253

In [228]:
# 34)write a function to get the country sales, profit dynamically, if we pass any country, that 
# country sales, profit should be displayed?

def sales_by_country(country):
    k3 = df3[df3['Country']==country]
    return k3[['Country','Sales','Profit']].groupby('Country',as_index=False).sum()

country = input("enter country here: ").capitalize()
sales_by_country(country)

enter region here:  spain

  Country   Sales  Profit
0   Spain  249402   47067

In [241]:
# 35)write a function to get the Category orderquantity dynamically, if we pass any Category, 
# that Category orderqunatity should be displayed.?

def orderqty_by_category(category):
    k4 = df3[df3['Category']==category]
    return k4[['Category','OrderQuantity']].groupby('Category', as_index=False).sum()
category = input("enter category here: select from : 'Office Supplies', 'Furniture', 'Technology'").capitalize()
orderqty_by_category(category)

enter category here: select from : 'Office Supplies', 'Furniture', 'Technology' Furniture

    Category  OrderQuantity
0  Furniture           4641

In [246]:
df3.City.unique()

array(['Stockholm', 'Southport', 'Valence', 'Birmingham', 'Echirolles',
       'La Seyne-sur-Mer', 'Toulouse', 'Genoa', 'Vienna', 'Murcia',
       'Woking', 'Lohne', 'Leicester', 'Sheffield', 'Dordrecht',
       'Gothenburg', 'Langen', 'Copenhagen', 'Gandia', 'Esbjerg',
       'Sesto San Giovanni', 'Trapani', 'Villiers-sur-Marne', 'Bielefeld',
       'Leuven', 'Prato', 'Gela', 'Bologna', 'Menden', 'Maisons-Alfort',
       'Madrid', 'Oslo', 'Lisbon', 'Draguignan', 'Halle', 'Parma',
       'Dresden', 'Seville', 'Torrevieja', 'Barcelona', 'London', 'Reims',
       'Rosenheim', 'Uppsala', 'Nice', 'Boulogne-sur-Mer', 'La Crau',
       'Siena', 'Frankfurt', 'Almelo', 'Basel', 'Coslada', 'Marseille',
       'Hanover', 'Elda', 'Hardenberg', 'Muret', 'Beaune', 'Paris',
       'Castrop-Rauxel', 'Milan', 'Zurich', 'Grosseto', 'Dublin', 'Rome',
       'Namur', 'Zaanstad', 'Bochum', 'Colmar', 'Farnborough', 'Berlin',
       'Rimini', 'Baden-Baden', 'Pforzheim', 'Coventry', 'Pessac',
       'Helsinki', 'Bonn', 'Leipzig', 'Tourcoing', 'Bari', 'Magdeburg',
       'Noisy-le-Sec', 'Stavanger', 'Cagliari', 'Marsala', 'Emmen',
       'Augsburg', 'Stralsund', 'Carcassonne', 'Munich', 'Wigan',
       'Helmond', 'Castres', 'Foligno', 'Hamm', 'Troisdorf', 'Geneva',
       'Newcastle upon Tyne', 'Treviso', 'Le Havre', 'Edinburgh',
       'Saint-Priest', 'Lattes', 'Le Blanc-Mesnil', 'Essen', 'Coimbra',
       'Ponferrada', 'Nacka', 'Crewe', 'Duisburg',
       'Montigny-le-Bretonneux', 'Apeldoorn', 'Brindisi', 'Hamburg',
       'Fontainebleau', 'Riom', 'Limoges', 'Potsdam', 'Lowestoft', 'Elx',
       'Sannois', 'Rotterdam', 'Halifax', 'Rubí', 'Le Petit-Quevilly',
       'Nijmegen', 'Chaumont', 'Vernon', 'Cholet', 'Cesena',
       'Nogent-sur-Oise', 'Antwerp', 'Pontoise', 'Krefeld', 'Bremen',
       'Moers', 'Ulm', 'Erfurt', 'Watford', 'Alcobendas', 'Amsterdam',
       'Porto', 'Champigny-sur-Marne', 'Dudley', 'Utrecht', 'Bordeaux',
       'Messina', 'Vincennes', 'Neuilly-sur-Marne', 'Argenteuil',
       "Quartu Sant'Elena", 'Toledo', 'Rennes', 'Breda', 'Naples',
       'Lisieux', 'Portsmouth', 'Pulheim', 'Luton', 'Talence',
       'Deuil-la-Barre', 'Lyon', 'Cork', 'Warrington', 'Groningen',
       'Strasbourg', 'Oyonnax', 'Cologne', 'Colchester', 'Drancy',
       'Mannheim', 'Evreux', 'Norwich', 'Southend-on-Sea', 'Palermo',
       'Worcester', 'Ghent', 'Chatham', 'Ceuta', 'Remscheid', 'Hautmont',
       'Lille', 'Aprilia', 'Thonon-les-Bains', 'Vitry-sur-Seine',
       'Venice', 'Bamberg', 'Bolton', 'Halmstad', 'Odense', 'Wallasey',
       'Lormont', 'Wolverhampton', 'Valladolid', 'Pamplona', 'Mansfield',
       'Perpignan', 'Weston-super-Mare', 'Hagen', 'Minden',
       'Ludwigshafen am Rhein', 'Zwolle', 'Roermond', 'Freiburg',
       'Roanne', 'Las Rozas de Madrid', 'Mont-de-Marsan', 'Gallarate',
       'Wiesbaden', 'Saint-Laurent-du-Var', 'Glasgow', 'Torremolinos',
       'Anglet', 'Bressuire', 'Gronau', 'Rochdale',
       'Villingen-Schwenningen', 'Les Lilas', 'Linz', 'Langenhagen',
       'Cottbus', 'Bideford', 'Landerneau', 'Derby', 'Vantaa',
       'Aylesbury', 'Hastings', 'Vila Nova de Gaia', 'Stuttgart', 'Reus',
       'Cerignola', 'La Madeleine', 'The Hague', 'Rostock', 'Leverkusen',
       'Cestas', 'Huddersfield', 'Passau', 'Biarritz', 'Aix-en-Provence',
       'Ashford', 'Kiel', 'Innsbruck', 'Belfort', 'Fontenay-aux-Roses',
       'Courbevoie', 'Ajaccio', 'Harrow', 'Arnsberg', 'Altamura',
       'Vallauris', 'Valencia', 'Trento', 'Sunderland', 'Tarragona',
       'Como', 'Manchester', 'Schwerin', 'Harrogate',
       'Sant Boi de Llobregat', 'Arnhem', 'Cergy', 'Noisy-le-Grand',
       'Lausanne', 'Bristol', 'Saint-Avold', 'Montpellier',
       'High Wycombe', 'Lucca', 'Turin', 'Menton', 'Crotone', 'Vertou',
       'Paisley', 'Vigo', 'Roubaix', 'Taverny', 'Chester', 'Vicenza',
       'Wuppertal', 'Herne', 'Drammen', 'Jena', 'Friedrichshafen',
       'Wattrelos', 'Orsay', 'Dreux', "Reggio nell'Emilia", 'Salamanca',
       'Oberhausen', 'Lugo', 'Neuilly-sur-Seine', 'Offenbach', 'Alicante',
       'Northampton', 'Darlington', 'Zwickau', 'Aulnay-sous-Bois',
       'Karlsruhe', 'Loughborough', 'Gera', 'Vignola', 'Poissy',
       'Blackburn', 'Cumbernauld', 'Plymouth', 'Catania', 'Leeds',
       'Bolzano', 'La Baule-Escoublac', 'York', 'Molfetta', 'Verdun',
       'Birkenhead', 'Beauvais', 'Arras', 'Littlehampton', 'Saint-Malo',
       'Dijon', 'Carrara', 'Graz', 'Quimper', 'Gloucester', 'Massa',
       'Dos Hermanas', 'Pescara', 'Novara', 'Montreuil',
       'Stockton-on-Tees', 'Recklinghausen', 'Waterlooville',
       'Frontignan', 'Trier', 'Heilbronn', 'Aachen', 'Bilbao',
       'Saint-Ouen', 'Alfortville', 'Preston', 'Ferrara',
       'Clermont-Ferrand', 'Digne-les-Bains', 'Pozzuoli', 'Slough',
       'Norderstedt', 'Nuremberg', 'Ipswich', 'Allauch',
       'Cinisello Balsamo', 'Hildesheim', 'Laval', 'Ercolano',
       'Longjumeau', 'Herten', 'Stockport', 'Girona', 'Santander',
       'Mougins', 'Rovigo', 'Vannes', 'Antibes', 'Hattingen', 'Guildford',
       'Fuengirola', 'Florence', 'Velbert', 'Grigny', 'Haarlem', 'Mijas',
       'Hove', 'Genk', 'Villeurbanne', 'Siegen', 'Grenoble', 'Cartagena',
       'Greifswald', 'Firminy', 'Foggia', 'Vittoria', 'Nottingham',
       'Lunel', 'Peterborough', 'Ravenna', 'Cannes', 'Amadora', 'Oviedo',
       'La Rochelle', 'Rosny-sous-Bois', 'Marly-le-Roi', 'Turku',
       'Walsall', 'Herford', 'Nantes', 'Oullins', 'Valdemoro', 'Bayonne',
       'Manresa', 'Dortmund', 'Bry-sur-Marne', 'Molina de Segura',
       'Regensburg', 'Zamora', 'Blackpool', 'Villeparisis', 'Verona',
       'Darmstadt', 'Plaisance-du-Touch', 'Cheltenham', 'Givors',
       'Tamworth', 'Rouen', 'Marbella', 'Kassel', 'Enschede',
       'Neubrandenburg', 'Haninge', 'Carlisle', 'Laon', 'Iserlohn',
       'Assen', 'East Kilbride', 'Runcorn', 'Gosport', 'Rillieux-la-Pape',
       'Montrouge', 'Corbeil-Essonnes', 'Fiumicino', 'Agen',
       'Aschaffenburg', 'Sandnes', 'Mulhouse', 'Hinckley', 'Randers',
       'Perugia', 'Sassari', 'Cambridge', 'Busto Arsizio', 'Chartres',
       'Puertollano', 'Vanves', 'Dundee', 'Odivelas', 'Nanterre',
       'Kingswood', 'Orihuela', 'Meyzieu', 'Wolfsburg', 'Barry',
       'Viersen', 'Tarbes', 'Weimar', 'Outreau', 'Eindhoven', 'Dorsten',
       'Gateshead', 'Tilburg', 'Aberdeen', 'Malakoff', 'Espoo',
       'Conflans-Sainte-Honorine', 'Bradford', 'Euskirchen', 'Poole',
       'Cardiff', 'Benidorm', 'Hasselt', 'Mauguio', 'Rotherham',
       'West Bromwich', 'Annecy', 'Montesson', 'Erftstadt',
       'Marano di Napoli', 'Saint-Michel-sur-Orge', 'Oxford',
       'Frederiksberg', 'Dormagen', 'Parla', 'Capelle aan den IJssel',
       'Lons-le-Saunier', 'Schiedam', 'Kotka', 'Leeuwarden', 'Chelles',
       'Chemnitz', 'Winterthur', 'Huddinge', 'Guimarães',
       'Tremblay-en-France', 'La Teste-de-Buch', 'Velletri', 'Cremona',
       'Rugby', 'Narbonne', 'Tours', 'Villemomble', 'Irun', 'Burgos',
       'Harlow', 'Fareham', 'Cercola', 'Mantes-la-Jolie', 'Soissons',
       'Barletta', 'San Fernando', 'Imola', 'Avignon', 'Brest', 'Angers',
       'Clamart', 'Oldenburg', 'Nancy', 'Palaiseau', 'Heidelberg',
       'Guyancourt', 'Widnes', 'Bonneuil-sur-Marne', 'Mont-Saint-Aignan',
       'Marl', 'Feira', 'Munster', 'San Sebastian', 'Massy',
       'Brandenburg', 'Lens', 'Le Bouscat', 'Aubervilliers',
       'El Escorial', 'Jerez de la Frontera', 'Alphen aan den Rijn',
       'Villefontaine', 'Bottrop', 'Boulogne-Billancourt', 'Pesaro',
       'Taunton', 'Villiers-le-Bel', 'Ennigerloh', 'Granada', 'Solna',
       'Pomezia', 'Creil', 'Paderborn', 'Valenciennes', 'Tallaght',
       'Amersfoort', 'Marignane', 'Neunkirchen', 'Bourges',
       'Savigny-le-Temple', 'Abbeville', 'Sale', 'Eastbourne', 'Modena',
       'Bad Waldsee', 'Gummersbach', 'Vichy', 'Helsingborg', 'Pontivy',
       'Bondy', 'Cuneo', 'Flers', 'Emden', 'Colomiers', 'Annemasse',
       'Granollers', 'Chesterfield', 'Lippstadt', 'Taranto', 'Mâcon',
       'Sorgues', 'Bedford', 'Domont', 'Millau', 'Brive-la-Gaillarde',
       'Douai', 'Lincoln', 'Zeist', 'Waiblingen', 'Kerpen',
       'Lagny-sur-Marne', 'Getxo', 'Gonesse', 'Bury', 'Livry-Gargan',
       'Montargis', 'Tulle', 'Mitry-Mory', 'Mechelen', 'Dewsbury',
       'Capua', 'Le Plessis-Robinson', 'Meudon', 'Basingstoke',
       'Montecatini Terme', 'Huelva', 'Swindon', 'Bagneux', 'Gillingham',
       'Les Mureaux', 'Schiltigheim', 'Günzburg', 'Unna',
       'Coudekerque-Branche', 'Erlangen', 'Caen', 'Deventer',
       'Saint-Nazaire', 'Calais', 'Le Mans', 'Bayreuth', 'Evry',
       'Swansea', 'Margate', 'Faches-Thumesnil', 'Bergheim', 'Hamme',
       'Worms', 'Pontault-Combault', 'Eggenstein-Leopoldshafen',
       'Grevenbroich', 'Trieste', 'Neuilly-Plaisance', 'Sittard',
       'Spijkenisse', 'Les Ulis', 'Palma de Mallorca', 'Chelmsford',
       'Ferndown', 'Saint-Cloud', 'Choisy-le-Roi', 'Agde', 'Saint-Louis',
       'Hazebrouck', 'Badajoz', 'Moncalieri', 'Amiens', 'Acireale',
       'Hilversum', 'Clichy', 'Albertville', 'Bourgoin-Jallieu',
       'Potenza', 'Torre del Greco', 'Oldham', 'Saint-Denis', 'Liverpool',
       'Sabadell', 'Montmorency', 'Stoke-on-Trent', 'Albacete', 'Auxerre',
       'Talavera de la Reina', 'Bisceglie', 'Northwich',
       'Issy-les-Moulineaux', 'Bracknell', 'Vitoria', 'Istres',
       'El Ejido', 'Toulon', 'Latina', 'Antony', 'Rhondda', 'Hilden',
       'Hamar', 'Castelldefels', 'Sanary-sur-Mer', 'Worthing',
       'Majadahonda', 'Cártama', 'Arezzo', 'Fontaine', 'Getafe',
       'Chilly-Mazarin', 'Basildon', 'Charleroi', 'Pau', 'Melilla',
       'Grasse', 'Maisons-Laffitte', 'Gap', 'Bergen op Zoom', 'Puteaux',
       'Hereford', 'Battipaglia', 'Clydach', 'Meaux', 'Oosterhout',
       'Salzburg', 'Palencia', 'Rochefort', 'Portici', 'Blanquefort',
       'Saint-Herblain', 'Lomme', 'Lorca', 'Bron', 'Bergamo', 'Villach',
       'Cognac', 'Haguenau', "Cournon-d'Auvergne", 'Solihull',
       'El Prat de Llobregat', 'Solingen', 'Maidenhead', 'Exeter', 'Fano',
       'Auch', 'Terneuzen', 'Saint-Chamond', 'Mainz', 'Veenendaal',
       'Versailles', 'Six-Fours-les-Plages', 'Castelnau-le-Lez', 'Ermont',
       'Monza', 'Gradignan', 'Ingolstadt', 'Thionville', 'Morley',
       'Bergen', 'Tournefeuille', 'Athis-Mons', 'Cachan',
       'Cagnes-sur-Mer', 'Civitavecchia', 'Boscoreale', 'Brescia',
       'Arles', 'Marina di Carrara', 'Gennevilliers', 'Ancona', 'Cluses',
       'Le Pontet', 'Lucerne', 'Offenburg', 'Reading', 'Hartlepool',
       'Barnsley', 'Forst', 'Bergisch Gladbach', 'Lund', 'Faenza',
       'Clichy-sous-Bois', 'Heerlen', 'Montauban', 'Carvin',
       'Villeneuve-Saint-Georges', 'Albi', 'Sevran', 'Saint-Dizier',
       'Kettering', 'Bournemouth', 'Trani', 'Sarreguemines', 'Tivoli',
       'Letchworth', 'Klagenfurt', 'Reutlingen', 'Pontevedra', 'Saumur',
       'Poitiers', 'Neuwied', 'Fresnes', 'Chioggia', 'Montbrison',
       'Melun', 'Bourg-en-Bresse', 'Verviers', 'Velsen', 'Forbach',
       'Delmenhorst', 'Saint-Germain-en-Laye', 'Roosendaal', 'Metz',
       'Wetzlar', 'Roeselare', 'Miramas', 'Vlaardingen', 'Burnley',
       'Nieuwegein', 'Thiais', 'Santiago de Compostela', 'Sète',
       'La Ciotat', 'Pistoia', 'Redditch', 'Wetter (Ruhr)', 'Aalst',
       'Argentan', 'Viroflay', 'Celle', 'Niort', 'Martigues',
       'Middlesbrough', 'Lanester', 'Berne', 'Teramo',
       'Villeneuve-le-Roi', 'Great Yarmouth', 'Legnano', 'Franconville',
       'Roissy-en-Brie', 'Stains', 'Ratingen', 'Bar-le-Duc', 'Annonay',
       'Wakefield', 'Cuenca', 'Seraing', 'Acerra', 'Barakaldo',
       'Uithoorn', 'Maidstone', 'Halesowen', 'Les Pavillons-sous-Bois',
       'Delft', 'Caserta', 'Rueil-Malmaison', 'Gladbeck', 'Dartford',
       'Benevento', 'Carpi', 'Saint-Brieuc', 'Rambouillet', 'Koblenz',
       'Berck', 'Illkirch-Graffenstaden', 'Hengelo', 'Witten', 'Osny',
       'Cambrai', 'Avellino', 'Shrewsbury', 'Flensburg',
       'Mons-en-Baroeul', 'Aalen', 'Fuenlabrada', 'Stafford', 'Mouscron',
       'Sucy-en-Brie', 'Moissy-Cramayel', 'Brussels', 'Denain',
       'Schiffweiler', 'Gelsenkirchen', 'Le Chesnay', 'Bognor Regis',
       'Cosenza', 'Vaulx-en-Velin', 'Pantin', 'Afragola', 'Kidderminster',
       'Bath', 'Les Herbiers', 'Sonneberg', 'Asti', 'Bastia',
       'Falconara Marittima', 'Chieti', 'Dinslaken', 'Wels',
       'Annecy-le-Vieux', 'Eskilstuna', 'Kortrijk', 'Kalundborg',
       'Moulins', 'Oss', 'Varese', 'Dieppe', 'Saint-Gratien', 'Nuneaton',
       'Alkmaar', 'Wasquehal', 'Colombes', 'Galway', 'Dunstable',
       'Vigneux-sur-Seine', 'Badalona', 'Sarcelles', 'Capannori',
       'Brighton', 'Guadalajara', 'Estepona', 'Wilhelmshaven',
       'Den Helder', 'Detmold', 'Bayeux', 'Pamiers', 'Kilwinning',
       'Fleury-les-Aubrais', 'Carquefou', 'Ludwigsburg', 'Casoria',
       'Trappes', 'Maastricht', 'Bagnolet', 'Limay', 'Agrigento',
       'Libourne', 'Saint-Pol-sur-Mer', 'Andria', 'Crawley', 'Pisa',
       'Alessandria', 'Avion', 'Levallois-Perret', 'Barneveld',
       'Guidonia Montecelio', 'Lecce', 'Purmerend', 'Anzio', 'Karlstad',
       'Voiron', 'Ronchin', 'Ludwigsfelde', 'La Spezia', 'San Severo',
       'Gagny', 'Saint-Genis-Laval', 'Torcy', 'Villeneuve-sur-Lot',
       'Bruges', 'Treviglio', 'Sonderborg', 'Garbsen', 'Washington',
       'Fulda', 'Fontenay-sous-Bois', 'Upplands Väsby', 'Kristiansand',
       'Pertuis', 'Cormeilles-en-Parisis', 'St. Gallen', 'Doncaster',
       'Chiclana de la Frontera', 'Borken', "Villeneuve-d'Ascq",
       'Langenfeld', 'Mantes-la-Ville', 'Ragusa', 'Salon-de-Provence',
       'Castellammare di Stabia', 'Leiden', 'Ivry-sur-Seine', 'Friedberg',
       'Plaisir', 'Briton Ferry', 'Saint-Quentin', 'Senlis',
       'Stourbridge', 'Hemel Hempstead', 'Saint-Jean-de-la-Ruelle',
       'Tournai', 'Sindelfingen', 'Ploemeur', 'Vitrolles', 'Coulommiers',
       'Piacenza', 'Epinal', 'Doetinchem', 'Villejuif', 'Willich',
       'Issoire', 'Louviers', 'Peer', 'Loures', 'South Shields',
       'Sartrouville', 'Carpentras', 'Concarneau', 'Torquay',
       'Kaiserslautern', 'Savona', 'Gravesend', 'Cuxhaven', 'Viterbo',
       'Modica', 'Le Pré-Saint-Gervais', 'Braga', 'Aix-les-Bains',
       'Landskrona', 'Livingston', 'Montgeron', 'Halluin', 'Manfredonia',
       'Segovia', 'Pierrefitte-sur-Seine', 'Lorient', 'Le Cannet',
       'Venlo', 'Ponteareas', 'Vigevano', 'Arrentela', 'Clacton-on-Sea',
       'Sagunto'], dtype=object)

In [245]:
# 36)write a function to get the City sales and profit dynamically, if we pass any city, that City 
# sales and profit should be displayed

def sales_by_city(city):
    k4 = df3[df3['City']==city]
    return k4[['City','Sales']].groupby('City', as_index=False).sum()
city = input("enter city here: ").capitalize()
sales_by_city(city)

enter city here:  Stockholm

        City  Sales
0  Stockholm  17498