In [2]:
import numpy as np
import pandas as pd
import os

In [4]:
os.listdir('data')

['.ipynb_checkpoints',
 'Bike_Data.xlsx',
 'car data.csv',
 'car.csv',
 'Custumer_Data.xlsx',
 'EmployeeDataToClean.xlsx',
 'Emp_Training_Data.xlsx',
 'Orders_Data.xlsx',
 'Orders_Data_2.xlsx',
 'superstore.xlsx',
 't_file.txt']

In [5]:
data = pd.read_excel('data/EmployeeDataToClean.xlsx')

In [6]:
df = data.copy()

In [8]:
df.head(1)

,EmployeeID,NationalIDNumber,LoginID,Title,PhoneNumber,BirthDate,MaritalStatus,Gender,HireDate,Dept,Salary,Job Grade,CurrentFlag,rowguid
0,1,14417807,adventure-works\guy1,Gustavo Achong,9.062372e+09,1986-02-21,M,M,2013-02-02,Sales,2295.0,Admin,-1,{AAE1D04A-C237-4974-B4D5-935247737718}

In [9]:
df.columns

Index(['EmployeeID', 'NationalIDNumber', 'LoginID', 'Title', 'PhoneNumber',
       'BirthDate', 'MaritalStatus', 'Gender', 'HireDate', 'Dept', 'Salary',
       'Job Grade', 'CurrentFlag', 'rowguid'],
      dtype='object')

In [10]:
df.shape

(50, 14)

In [12]:
df.isna().sum()

EmployeeID           0
NationalIDNumber     0
LoginID             37
Title                0
PhoneNumber          7
BirthDate            0
MaritalStatus        0
Gender               0
HireDate             0
Dept                 0
Salary               6
Job Grade            0
CurrentFlag          0
rowguid              0
dtype: int64

In [17]:
print(df['Dept'].nunique())
print(df['Dept'].unique())
print(df['Dept'].count())

6
['Sales' 'Finance' 'Logistics' 'Human Resource' 'sales' 'Production']
50

In [18]:
df['Job Grade'].count()

50

In [19]:
df['Job Grade'].nunique()

3

In [20]:
df['Job Grade'].unique()

array(['Admin', 'Management', 'Operations'], dtype=object)

In [155]:
df.columns

Index(['EmployeeID', 'NationalIDNumber', 'LoginID', 'Title', 'PhoneNumber',
       'BirthDate', 'MaritalStatus', 'Gender', 'HireDate', 'Dept', 'Salary',
       'Job Grade', 'CurrentFlag', 'rowguid'],
      dtype='object')

In [156]:
def rename_columns(d):
    new_columns={}
    for i in d.columns:
        j=i
        j = j.lower()
        if ' ' in j:
            j=j.replace(' ','_')
        new_columns[i]=j
    return d.rename(columns=new_columns)

In [300]:
df1 = rename_columns(df)

In [301]:
df1.isna().sum()

employeeid           0
nationalidnumber     0
loginid             37
title                0
phonenumber          7
birthdate            0
maritalstatus        0
gender               0
hiredate             0
dept                 0
salary               6
job_grade            0
currentflag          0
rowguid              0
dtype: int64

In [302]:
df1['employeeid'].nunique()

50

In [303]:
df1['nationalidnumber'].nunique()

50

In [304]:
df1['loginid'].isna().sum()

37

In [305]:
(df1['loginid'].isna().sum())/df1.shape[0]*100

74.0

In [306]:
na_percent= df1.isna().sum()/df1.shape[0]*100
na_percent[(map(lambda x: x>=70, na_percent))]

loginid    74.0
dtype: float64

In [307]:
na_percent[na_percent>=70]

loginid    74.0
dtype: float64

In [308]:
columns_to_filter = list(na_percent[na_percent>=70].index)

In [309]:
# columns_to_filter = filter(lambda x: x>=70,na_percent)
# list(columns_to_filter)

In [310]:
df1.columns

Index(['employeeid', 'nationalidnumber', 'loginid', 'title', 'phonenumber',
       'birthdate', 'maritalstatus', 'gender', 'hiredate', 'dept', 'salary',
       'job_grade', 'currentflag', 'rowguid'],
      dtype='object')

In [311]:
for i in columns_to_filter:
    df1.drop(i,axis=1,inplace=True)

In [312]:
df1.columns

Index(['employeeid', 'nationalidnumber', 'title', 'phonenumber', 'birthdate',
       'maritalstatus', 'gender', 'hiredate', 'dept', 'salary', 'job_grade',
       'currentflag', 'rowguid'],
      dtype='object')

In [313]:
df1.nunique()

employeeid          50
nationalidnumber    50
title               50
phonenumber         43
birthdate           50
maritalstatus        2
gender               2
hiredate            39
dept                 6
salary              44
job_grade            3
currentflag          1
rowguid             50
dtype: int64

In [314]:
df1.drop('currentflag',axis=1,inplace=True)

In [315]:
df1.drop('rowguid', axis=1, inplace=True)

In [316]:
df1.isna().sum()/df1.shape[0]*100

employeeid           0.0
nationalidnumber     0.0
title                0.0
phonenumber         14.0
birthdate            0.0
maritalstatus        0.0
gender               0.0
hiredate             0.0
dept                 0.0
salary              12.0
job_grade            0.0
dtype: float64

In [317]:
df1.dept.unique()

array(['Sales', 'Finance', 'Logistics', 'Human Resource', 'sales',
       'Production'], dtype=object)

In [318]:
df1['salary'].fillna(df1['salary'].median(), inplace=True)

In [319]:
df1['dept'] = df1['dept'].str.lower().str.capitalize()
df1.dept.unique()

array(['Sales', 'Finance', 'Logistics', 'Human resource', 'Production'],
      dtype=object)

In [320]:
df1.phonenumber = df1.phonenumber.fillna(0).astype(str).str.strip('.0').str.zfill(10)

In [321]:
df1.isna().sum()

employeeid          0
nationalidnumber    0
title               0
phonenumber         0
birthdate           0
maritalstatus       0
gender              0
hiredate            0
dept                0
salary              0
job_grade           0
dtype: int64

In [322]:
df1[['employeeid','dept']].groupby('dept',as_index=False).count()

             dept  employeeid
0         Finance          11
1  Human resource           6
2       Logistics           8
3      Production          14
4           Sales          11

In [323]:
df1['maritalstatus'] = df1['maritalstatus'].apply(lambda x: 'Married' if x=='M' else 'Single' if x=='S' else 'NA')

In [324]:
df1.columns

Index(['employeeid', 'nationalidnumber', 'title', 'phonenumber', 'birthdate',
       'maritalstatus', 'gender', 'hiredate', 'dept', 'salary', 'job_grade'],
      dtype='object')

In [325]:
 df1.head(2)

,employeeid,nationalidnumber,title,phonenumber,birthdate,maritalstatus,gender,hiredate,dept,salary,job_grade
0,1,14417807,Gustavo Achong,9062372448,1986-02-21,Married,M,2013-02-02,Sales,2295.0,Admin
1,2,253022876,Catherine Abel,8086506867,1991-03-12,Single,M,2013-08-31,Sales,962.0,Management

In [327]:
df1['nationalidnumber'].astype(str).str.len().head()

0    8
1    9
2    9
3    9
4    9
Name: nationalidnumber, dtype: int64

In [328]:
mylist = ['123','123456','1234']
print(max(mylist, key=len))

123456

In [329]:
# import builtins
df1['nationalidnumber'] = df1['nationalidnumber'].astype(str)
max(df1['nationalidnumber'],key=len)

'253022876'

In [333]:
# df1.phonenumber = pd.to_numeric(df1.phonenumber)
df1.phonenumber.head()

0    9062372448
1    8086506867
2    0931237814
3    9467533569
4    0000000000
Name: phonenumber, dtype: object

In [337]:
#masking of  phone number 9062372448 ---> 906XXXXX48
df1.phonenumber.apply(lambda x: x[:2]+'XXXXX'+x[-2:]).head()

0    90XXXXX48
1    80XXXXX67
2    09XXXXX14
3    94XXXXX69
4    00XXXXX00
Name: phonenumber, dtype: object

In [349]:
df1.phonenumber.apply(lambda x: '000000000' if x=='0000000000' else x[:2]+'XXXXX'+x[-2:]).head()

0    90XXXXX48
1    80XXXXX67
2    09XXXXX14
3    94XXXXX69
4    000000000
Name: phonenumber, dtype: object

In [350]:
li = list(df1.phonenumber.head(10))
li

['9062372448',
 '8086506867',
 '0931237814',
 '9467533569',
 '0000000000',
 '0000000000',
 '0000000000',
 '0000000000',
 '8778647341',
 '9451409795']

In [351]:
list(map(lambda x: '0000000000' if x=='0000000000' else x[:2]+'XXXXX'+x[-2:] ,li))

['90XXXXX48',
 '80XXXXX67',
 '09XXXXX14',
 '94XXXXX69',
 '0000000000',
 '0000000000',
 '0000000000',
 '0000000000',
 '87XXXXX41',
 '94XXXXX95']