In [36]:
import numpy as np
import pandas as pd

In [37]:
data = pd.read_excel('data/superstore.xlsx')

In [38]:
df = data.copy()

In [39]:
df.head(1)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,2698,CA-2016-145317,2016-03-18,2016-03-23,Standard Class,SM-20320,Sean Miller,Home Office,United States,Jacksonville,...,32216.0,South,TEC-MA-10002412,Technology,Machines,Cisco TelePresence System EX90 Videoconferenci...,22638.48,6,0.5,-1811.0784

In [28]:
df.shape

(9994, 21)

In [29]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country/Region', 'City',
       'State', 'Postal Code', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit'],
      dtype='object')

In [30]:
df1 = df[['Order Date', 'Ship Date', 'Ship Mode', 'Segment', 'Country/Region', 'City',
       'State', 'Postal Code', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit']]

In [33]:
def rename_columns(d):
    column_dict = {}
    for i in d.columns:
        column_dict[i]=i.lower()
    return d.rename(columns=column_dict)

In [35]:
df1 = rename_columns(df1)

AttributeError: 'NoneType' object has no attribute 'columns'

In [20]:
df1.columns

Index(['order date', 'ship date', 'ship mode', 'segment', 'country/region',
       'city', 'state', 'postal code', 'region', 'product id', 'category',
       'sub-category', 'product name', 'sales', 'quantity', 'discount',
       'profit'],
      dtype='object')