In [63]:
import numpy as np
import pandas as pd

In [64]:
data = pd.read_excel('data/superstore.xlsx')

In [65]:
df = data.copy()

In [66]:
df.head(1)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,2698,CA-2016-145317,2016-03-18,2016-03-23,Standard Class,SM-20320,Sean Miller,Home Office,United States,Jacksonville,...,32216.0,South,TEC-MA-10002412,Technology,Machines,Cisco TelePresence System EX90 Videoconferenci...,22638.48,6,0.5,-1811.0784

In [67]:
df.shape

(9994, 21)

In [68]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country/Region', 'City',
       'State', 'Postal Code', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit'],
      dtype='object')

In [69]:
df1 = df[['Order Date', 'Ship Date', 'Ship Mode', 'Segment', 'Country/Region', 'City',
       'State', 'Postal Code', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit']]

In [70]:
def rename_columns(d):
    column_dict = {}
    for i in d.columns:
        j=i
        if ' ' in j:
            j=j.replace(' ','_')
        column_dict[i]=j.lower()
    return d.rename(columns=column_dict)

In [71]:
df1 = rename_columns(df1)
df1.columns

Index(['order_date', 'ship_date', 'ship_mode', 'segment', 'country/region',
       'city', 'state', 'postal_code', 'region', 'product_id', 'category',
       'sub-category', 'product_name', 'sales', 'quantity', 'discount',
       'profit'],
      dtype='object')

In [72]:
df1.head(2)

,order_date,ship_date,ship_mode,segment,country/region,city,state,postal_code,region,product_id,category,sub-category,product_name,sales,quantity,discount,profit
0,2016-03-18,2016-03-23,Standard Class,Home Office,United States,Jacksonville,Florida,32216.0,South,TEC-MA-10002412,Technology,Machines,Cisco TelePresence System EX90 Videoconferenci...,22638.48,6,0.5,-1811.0784
1,2018-10-02,2018-10-09,Standard Class,Corporate,United States,Lafayette,Indiana,47905.0,Central,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,17499.95,5,0.0,8399.9760

In [73]:
df1.product_id.nunique()

1862

In [74]:
df1.product_name.nunique()

1850

In [75]:
df1.product_name.str.lower().nunique()

1850